#Project {
  /* height:  0vh; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}
h1 {
  margin: 0;
}

.project__header {
  padding-bottom: 10px;
}

.grid-normal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#Project section {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
}

.turnt {
  background: linear-gradient(#ea698b, #8b23d1);
}
.alktunes {
  background: linear-gradient(#000000, #6c6a6d);
}
.alktunes img {
  /* aspect-ratio: 19 / 8; */
  object-fit: cover;
}
.shopee {
  background: linear-gradient(#ec6d19, #7a3000);
}
.shopee img {
  width: 50%;
}

.kelli {
  background: linear-gradient(#ffb900, #ee9b0f);
}
.kelli img {
  width: 50%;
}
.qrcode {
  background: linear-gradient(#d63879, #701d3f);
}

.cacao-chat {
  background: linear-gradient(#ffffff, #e4e4e4);
}

.cacao-chat img {
  width: 50%;
}
