.project-card {
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 25px;
  width: 500px;
  height: 500px;
}
.project-card img {
  width: 350px;
  height: 350px;
}
span {
  color: white;
  font-weight: 100;
  text-decoration: underline;
  cursor: pointer;
}

.card-description {
  padding: 10px;
}
