#Card {
  border: 2px solid black;
  background: rgba(125, 3, 125, 0.807);
}

.link-button {
  border: 2px solid white;
  border-radius: 5px;

  padding: 10px;
  padding-inline: 20px;
}

.link-button {
  color: white;
  text-decoration: none;
  transition: background-color 1s ease linear;
}

.link-button :visited {
  color: white;
  text-decoration: none;
}

.link-button:hover {
  background-color: white;
  color: black;
}
