.project-page-container {
  width: 100%;
  height: 100vh;
  background: purple;
  padding-top: 10px;
}
.project-page-inner {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-reverse {
    
}
.project-page-header {
  grid-template-columns: repeat(2, 50%);
  display: grid;
  width: 100%;
  background: green;
  display: flex;
}
.project-page-header-text {
  width: 100%;
  background: orange;
  flex: 1;
}

.project-page-header-image {
  background: black;
  flex: 1;
}
.project-page-header-image img {
  width: 100%;
}
